{% extends "app.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}
<div class="container-fluid p-0">
    <img class="img-fluid about-cover" src=" {% static "images/about-us-cover.jpg" %} " alt="">

</div>
<div class="container mt-5">
    <h2>
        Discover Education City 
    </h2>
    <p class="mt-4">
        A community unlike any other place in Qatar, Education City is home to branch campuses of some of the world’s leading educational institutes, sports and recreational facilities, numerous art installations, Qatar’s largest library, heritage sites, cultural institutions, and much more.
    </p>
    <h2 class="mt-5">
        Places to Visit
    </h2>
    <p class="mt-4">During just a short walk or tram ride, you will discover the unique surroundings in Education City. Whether it is one of our many buildings designed by world-leading architects or inviting green spaces, there’s something for everyone.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-1.png"  %} " class="img-fluid"  alt=""><h5>Al-Mujadilah Center and Mosque for Women</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-2.jpg"  %} " class="img-fluid"  alt=""><h5>Oxygen Park</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-3.jpg"  %} " class="img-fluid"  alt=""><h5>Multaqa</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-4.jpg"  %} " class="img-fluid"  alt=""><h5>Qatar National Library</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-5.jpg"  %} " class="img-fluid"  alt=""><h5>Education City Mosque (Minaretein)</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-6.jpg"  %} " class="img-fluid"  alt=""><h5>Mathaf: Arab Museum of Modern Art</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-7.jpg"  %} " class="img-fluid"  alt=""><h5>Al Shaqab</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-8.jpg"  %} " class="img-fluid"  alt=""><h5>Education City Stadium</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-9.jpg"  %} " class="img-fluid"  alt=""><h5>Education City Golf Club</h5></div>
        <div class="col-md-3 about-img mb-4"><img src=" {% static "images/au-10.jpg"  %} " class="img-fluid"  alt=""><h5>The Gallery at VCUarts Qatar</h5></div>
        <h5></h5>
    </div>
</div> 
<div class="container-fluid bg-light flip-body">
<div class="container flip-container">
    <h2 class="mt-5 mb-3">Education City Universities</h2>
    <p class="mb-5">Our vibrant educational ecosystem includes seven international universities and our own Hamad Bin Khalifa University.
    </p>
    <div class="row">
        <div class="col-md-3 about-flip mb-4 bg-light"><div class="img-container">
            <img src=" {% static "images/f-1.jpg" %}" class="img-fluid" alt=""><h6>Carnegie Mellon University in Qatar</h6>
            <div class="overlay">
                <p>Since 2004, Carnegie Mellon University in Qatar has offered select programs in science, business, and technology that prepare graduates to be leaders, creators, and problem-solvers.</p>
                <button class="btn btn-dark">Load More</button>
            </div>
        </div>
        </div>
        <div class="col-md-3 about-flip mb-4">
            <div class="img-container"><img src=" {% static "images/f2.jpg" %} " class="img-fluid" alt=""><h6>Georgetown University in Qatar</h6>
            <div class="overlay">
                <p>The liberal arts education at GU-Q offers students training in a wide range of subjects, along with the ability to specialize in key international affairs topics</p>
                <button class="btn btn-dark">Load More</button>
            </div>
        </div>
        </div>
        <div class="col-md-3 about-flip mb-4">
            <div class="img-container"><img src=" {% static "images/f3.jpg" %} " class="img-fluid" alt=""><h6>Hamad Bin Khalifa University (HBKU)</h6>
            <div class="overlay">
                <p>Founded in 2010, Hamad Bin Khalifa University is a homegrown graduate-focused university and research institute that acts as a catalyst for transformative change in Qatar and the region.</p>
                <button class="btn btn-dark">Load More</button>
            </div>
        </div>
        </div>
        <div class="col-md-3 about-flip mb-4">
            <div class="img-container"><img src=" {% static "images/f4.jpg" %} " class="img-fluid" alt=""><h6>Northwestern University in Qatar</h6>
            <div class="overlay">
                <p>To explore the world of media and communication, you can study at Northwestern University in Qatar (NU-Q), a modern media school that opened in Qatar in 2008.</p>
                <button class="btn btn-dark">Load More</button>
            </div>
        </div>
        </div>
        <div class="col-md-3 about-flip mb-4">
            <div class="img-container"><img src=" {% static "images/f5.jpg" %} " class="img-fluid" alt=""><h6>Texas A&M University at Qatar</h6>
            <div class="overlay">
                <p>If you are interested in pursuing a career in engineering, Texas A&M University at Qatar (TAMUQ) offers one of the world’s premier engineering programs, built on its home campus’ international</p>
                <button class="btn btn-dark">Load More</button>
            </div>
        </div>
        </div>
        <div class="col-md-3 about-flip mb-4">
            <div class="img-container"><img src=" {% static "images/f6.jpg" %} " class="img-fluid" alt=""><h6>Virginia Commonwealth University School of the Arts in Qatar</h6>
            <div class="overlay">
                <p>You can unleash your inner artist or designer by becoming part of VCUarts Qatar, a branch campus of Virginia Commonwealth University School of the Arts in Richmond, Virginia.
                    The Gallery at VCUarts Qatar: Tour its spaces and discover where its threads of creativity lead you with its publishing platform.
                    
                    </p>
                    <button class="btn btn-dark">Load More</button>
            </div>
        </div>
        </div>
        <div class="col-md-3 about-flip mb-4"><div class="img-container">
            <img src=" {% static "images/f7.jpg" %} " class="img-fluid" alt=""><h6>Weill Cornell Medicine-Qatar</h6>
            <div class="overlay">
                <p>If you’re an aspiring doctor, you can join Weill Cornell Medicine-Qatar, which shares the tripartite mission of Weill Cornell Medicine in New York: a medical college dedicated to excellence in education, patient care, and research.</p>
                <button class="btn btn-dark">Load More</button>
            </div>

        </div>
        </div>
        <div class="col-md-3 about-flip mb-4">
            <div class="img-container"><img src=" {% static "images/f8.jpg" %} " class="img-fluid" alt=""><h6>HEC Paris in Qatar</h6>
            <div class="overlay">
                <p>If you are a professional or an executive in a senior management position, you can enhance your leadership skills through the various programs offered at HEC Paris in Qatar.

                </p>
                <button class="btn btn-dark">Load More</button>     
            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}
{% endblock content %}