{% extends "base.html" %}
{% block content %}
        <!-- begin:: Content -->
            <!-- Banner -->
    <div class="banner-holder banner-holder-new">
        <figure class="banner-image">




            <video autoplay muted playsinline id="bannervideos" >
            </video>
        </figure>
        <div class="banner-text">
            <a href="https://www.youtube.com/watch?v=rw_UOKr4rj8" target="_blank" class="hyper-link"></a>
            <span>A City <span class="banner-lines"></span></span>
            <h1 class="text-uppercase fw-500">Beyond Education </h1>

            <p>A journey at Education City can take you anywhere. Whether it’s a new sport or a new language, an art tour, or a bite to eat, Education City offers a new and exciting experience every single visit.</p>

            <div class="banner-button">
                <span class="btn-play" id="pausebtn"></span>
            </div>
        </div>
    </div>
    <!-- Container -->
  <main class="main-wrapper new-home">

        <!-- BANEER SECTION STARTS -->
        <div class="event-box">

            <div class="container-lg ">

                <div class=" row pt-3 mt-reverse">
                    <div class="col-md-4">
                        <div class="things-icon bg-red justify-content-evenly event-shadow">
                            <div class="bg-trans">
                                <img class="img-iconss" src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/icon/event-icon.svg" alt=""
                                     loading="lazy">
                            </div>
                            <h5>Attend an Event</h5>
                            <a href="/search_event" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="things-icon bg-light-blue justify-content-evenly class-shadow">
                            <div class="bg-trans">
                                <img class="img-iconss" src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/icon/class-icon.svg" alt=""
                                     loading="lazy">
                            </div>
                            <h5>Take a Class</h5>
                            <a href="/search_class" class="stretched-link"></a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="things-icon justify-content-evenly book-shadow">
                            <div class="bg-trans">
                                <img class="img-iconss" src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/icon/facility-icon.svg" alt=""
                                     loading="lazy">
                            </div>
                            <h5>Book a Facility</h5>
                            <a href="/search_venue" class="stretched-link"></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- BANNER SECTION ENDS -->

            <!-- EC EXPERIENCE SECTION STARTS -->
            <div class="py-3 py-lg-5 experience-sec ">
    <div class="container-lg py-4">
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-md-4">
                <h2 class="mb-0 text-primary fs-28">Spotlight</h2>
            </div>
            <div class="col-md-4">
                <p class="happen-p">Discover the Latest Offerings.</p>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row gx-4 ">
            <div id="owl-demo-1" class="owl-carousel owl-theme demo-carosel owl-demo-1 owl-demo-home">
                                    
                <div class="item py-5">
                    <div class="owl-card position-relative">
                        <div class="position-absolute owl-exp  ">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class=" text-white bg-red py-2 px-4 text-capitalize fw-400 event-tab z-index-1">Event</div>
                                <div class="bookmark-wrapper bg-white z-index-1">
        <div class="icon-bookmark " id="bookmark-230" data-type="event" data-id="1317" data-action="add"></div>
    </div>



                            </div>

                        </div>
                        <figure>
                            <a href="https://educationcity.qa/event/jr-nba-league"><img src="https://educationcity.qa/uploads/16953/66293d2837cf3_mobile-image.png" alt=""></a>

                        </figure>
                            <figcaption>
                                <h5 class="text-primary fs-16"><a href="https://educationcity.qa/event/jr-nba-league" class="text-primary ">Jr. NBA League</a></h5>


                                    <div class="d-flex align-items-center text-primary"><span class="pe-2"><img
            src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/icon/calendar.svg"  class="img-fluid" alt=""></span>
    <p>

        27 April-6 August 2024 , 1pm-6:30pm
    
    

    </p>
</div>





                            </figcaption>

                    </div>
                </div>
                                    
                <div class="item py-5">
                    <div class="owl-card position-relative">
                        <div class="position-absolute owl-exp  ">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class=" text-white bg-yellow py-2 px-4 text-capitalize fw-400 event-tab z-index-1">Venue</div>
                                <div class="bookmark-wrapper bg-white z-index-1">
        <div class="icon-bookmark " id="bookmark-223" data-type="venue" data-id="292" data-action="add"></div>
    </div>



                            </div>

                        </div>
                        <figure>
                            <a href="https://educationcity.qa/venue/the-dome"><img src="https://educationcity.qa/uploads/16217/65f6a5303db5a_dome-465.jpg" alt=""></a>

                        </figure>
                            <figcaption>
                                <h5 class="text-primary fs-16"><a href="https://educationcity.qa/venue/the-dome" class="text-primary ">Unveiling The Dome: A Premier Adidas Collaboration</a></h5>


                                    <div class="d-flex align-items-center text-primary"><span class="pe-2"><img
            src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/icon/calendar.svg"  class="img-fluid" alt=""></span>
    <p>

        Everyday , 6am-12am
    
    

    </p>
</div>





                            </figcaption>

                    </div>
                </div>
                                    
                <div class="item py-5">
                    <div class="owl-card position-relative">
                        <div class="position-absolute owl-exp  ">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class=" text-primary bg-white py-2 px-4 text-capitalize fw-400 event-tab z-index-1">Experience</div>
                                <div class="bookmark-wrapper bg-white z-index-1">
        <div class="icon-bookmark " id="bookmark-220" data-type="ec_experiences" data-id="220" data-action="add"></div>
    </div>



                            </div>

                        </div>
                        <figure>
                            <a href="https://educationcity.qa/volunteer"><img src="https://educationcity.qa/uploads/15294/65e0833d8ea6a_Ramadan-Volunteering-Website-+-App_Website-465-x-535.png" alt=""></a>

                        </figure>
                            <figcaption>
                                <h5 class="text-primary fs-16"><a href="https://educationcity.qa/volunteer" class="text-primary ">Volunteer Hub</a></h5>


                                    
                            </figcaption>

                    </div>
                </div>
                
            </div>
        </div>
        <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/bicycle.svg" class="img-fluid experience-pattern-1">
        <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/family.svg" class="img-fluid experience-pattern-2">
    </div>
</div>
            <!-- EC EXPERIENCE SECTION ENDS -->

            <!-- FEATURED ACTIVITIES SECTION STARTS -->
            <section class="bg-grey position-relative activity">
    <div class="container-lg">
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-lg-4">
                <h2 class="mb-0 text-primary fs-28">Featured Activities</h2>
            </div>
            <div class="col-lg-4">
                <p class="happen-p">Check out our featured activities by category.</p>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row align-items-center justify-content-between mt-3">
            <div class="col-md-12">
                <ul class="nav nav-pills mt-3" id="activity-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                        <button class="nav-link  active  btn-primary rounded-pill text-white"
                                id="activity_-home-58-tab" data-bs-toggle="pill" data-bs-target="#tag-58-home"
                                type="button" role="tab" aria-controls="tag-58-home"
                                aria-selected="true">Sports and Fitness</button>
                    </li>
                                        <li class="nav-item" role="presentation">
                        <button class="nav-link  btn-primary rounded-pill text-white"
                                id="activity_-home-19-tab" data-bs-toggle="pill" data-bs-target="#tag-19-home"
                                type="button" role="tab" aria-controls="tag-19-home"
                                aria-selected="true">Kids and Families</button>
                    </li>
                                    </ul>
                <div class="tab-content" id="pills-tabContent">
                                                            <div class="tab-pane fade   show active " id="tag-58-home" role="tabpanel"
                         aria-labelledby="activity_1-home-tab">

                        <div class="row ">
                            <div id="owl-demo-1" class="owl-carousel owl-theme demo-carosel owl-demo-2 owl-demo-home">
                                 
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/event/jr-nba-league">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/16945/66293bb0455b2_mobile-cover.png"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/event/jr-nba-league" class="text-white">Jr. NBA League</a></h4>
                                                    <div class="card-text text-white py-2">27 April-6 August 2024 , 1pm-6:30pm
                                                    </div>
                                                    <a href="https://educationcity.qa/event/jr-nba-league" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Multaqa</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/event/ability-friendly-football-assistant-coach">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/16102/65e9b38a32040_afd344.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/event/ability-friendly-football-assistant-coach" class="text-white">Ability Friendly Football Assistant Coach</a></h4>
                                                    <div class="card-text text-white py-2">14 April-13 June 2024 , 3pm-5pm
                                                    </div>
                                                    <a href="https://educationcity.qa/event/ability-friendly-football-assistant-coach" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Awsaj Recreation</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/class/tennis-group-6-clubhouse">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/17404/6628ff3f68e06_Tennis-Kids-scaled.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/class/tennis-group-6-clubhouse" class="text-white">Tennis Group 6 - Clubhouse</a></h4>
                                                    <div class="card-text text-white py-2">11 May-3 June 2024 , 7:15pm-8pm
                                                    </div>
                                                    <a href="https://educationcity.qa/class/tennis-group-6-clubhouse" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Tennis Courts - Clubhouse</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/class/tennis-group-5-clubhouse">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/17400/6628ff3f68e06_Tennis-Kids-scaled.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/class/tennis-group-5-clubhouse" class="text-white">Tennis Group 5 - Clubhouse</a></h4>
                                                    <div class="card-text text-white py-2">11 May-3 June 2024 , 6:30pm-7:15pm
                                                    </div>
                                                    <a href="https://educationcity.qa/class/tennis-group-5-clubhouse" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Tennis Courts - Clubhouse</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/venue/the-dome">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/16140/65ed6c399d604_padel-indoor-344.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/venue/the-dome" class="text-white">The Dome</a></h4>
                                                    <div class="card-text text-white py-2">
                                                    </div>
                                                    <a href="https://educationcity.qa/venue/the-dome" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>The Dome</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/venue/olympic-pool-recreation-centre">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/2926/6118d08bbdd6b_Olympic-Pool.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/venue/olympic-pool-recreation-centre" class="text-white">Olympic Pool - Recreation Centre</a></h4>
                                                    <div class="card-text text-white py-2">Wednesday, 8 May 2024 , 3pm
                                                    </div>
                                                    <a href="https://educationcity.qa/venue/olympic-pool-recreation-centre" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Recreation Centre</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                










                            </div>
                        </div>
                        <div class="float-right-ar">
                            <a href="https://educationcity.qa/tags/communisport" class="btn rounded-pill text-primary membership-btn view-membership text-center text-capitalize arrow-after"> view all activities</a>
                        </div>
                    </div>
                                                                                <div class="tab-pane fade  " id="tag-19-home" role="tabpanel"
                         aria-labelledby="activity_1-home-tab">

                        <div class="row ">
                            <div id="owl-demo-1" class="owl-carousel owl-theme demo-carosel owl-demo-2 owl-demo-home">
                                 
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/event/jr-nba-league">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/16945/66293bb0455b2_mobile-cover.png"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/event/jr-nba-league" class="text-white">Jr. NBA League</a></h4>
                                                    <div class="card-text text-white py-2">27 April-6 August 2024 , 1pm-6:30pm
                                                    </div>
                                                    <a href="https://educationcity.qa/event/jr-nba-league" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Multaqa</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/event/badminton-social-qa-wakra-1">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/2579/60e41cadf0ad7_Badminton-Socials.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/event/badminton-social-qa-wakra-1" class="text-white">Badminton Social - QA Wakra</a></h4>
                                                    <div class="card-text text-white py-2">1 January-31 December 2024 , 4pm-6pm
                                                    </div>
                                                    <a href="https://educationcity.qa/event/badminton-social-qa-wakra-1" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Qatar Academy Al Wakrah</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/event/basketball-social-qa-wakra">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/2577/60e41b87be410_Basketball-1113w4.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/event/basketball-social-qa-wakra" class="text-white">Basketball Social - QA Wakra</a></h4>
                                                    <div class="card-text text-white py-2">1 January-31 December 2024 , 1pm-4pm
                                                    </div>
                                                    <a href="https://educationcity.qa/event/basketball-social-qa-wakra" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Qatar Academy Al Wakrah</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/class/mixed-media-mash-up-for-homeschoolers">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/17332/663339aa0d9ee_emily-webster-slHj-A9HQp0-unsplash.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/class/mixed-media-mash-up-for-homeschoolers" class="text-white">Mixed Media Mash-up for Homeschoolers</a></h4>
                                                    <div class="card-text text-white py-2">8-22 May 2024 , 4pm-5:30pm
                                                    </div>
                                                    <a href="https://educationcity.qa/class/mixed-media-mash-up-for-homeschoolers" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Mathaf: Arab Museum of Modern Art</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/venue/skate-park-awsaj-academy">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/376/5fbbb3808baea_WGS-Skate-Park.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/venue/skate-park-awsaj-academy" class="text-white">Skate Park - Awsaj Academy</a></h4>
                                                    <div class="card-text text-white py-2">Wednesday, 8 May 2024 , 3pm
                                                    </div>
                                                    <a href="https://educationcity.qa/venue/skate-park-awsaj-academy" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Awsaj Recreation</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                
                                                                        <div class="item pt-5 pb-4">
                                        <div class="card">
                                            <div class="card-head">
                                                <a href="https://educationcity.qa/venue/games-room-clubhouse">
                                                                                                            <img src="https://cdn.educationcity.qa/uploads/378/5fbbb7f8351ca_Games-Room.jpg"
                                                             class=" img-fluid" alt="...">
                                                                                                    </a>
                                            </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title  "><a href="https://educationcity.qa/venue/games-room-clubhouse" class="text-white">Games Room - Clubhouse</a></h4>
                                                    <div class="card-text text-white py-2">Wednesday, 8 May 2024 , 11am
                                                    </div>
                                                    <a href="https://educationcity.qa/venue/games-room-clubhouse" class="text-white card-text">
                                                                                                                <i class="fa fa-map-marker-alt pe-3"></i>Education City Club House</a>
                                                                                                      </div>
                                            </a>
                                        </div>
                                    </div>
                                










                            </div>
                        </div>
                        <div class="float-right-ar">
                            <a href="https://educationcity.qa/tags/kids-activities" class="btn rounded-pill text-primary membership-btn view-membership text-center text-capitalize arrow-after"> view all activities</a>
                        </div>
                    </div>
                                                        </div>
            </div>
        </div>

        <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/basket.svg" class="img-fluid activity-pattern-1">
        <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/windmill.svg" class="img-fluid activity-pattern-2">

    </div>
</section>
            <!-- FEATURED ACTIVITIES SECTION ENDS -->

            <!-- MEMBERSHIP SECTION STARTS -->
             <section class="pt-120 membership-holder">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-between membership-title">
                    <h2 class="mb-0 text-primary text-capitalize fs-28">                             Explore Our<br> Memberships
                        </h2>




                </div>

                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-6">
                        <div class="membership-holder-1 bg-primary">
                            <a href="https://educationcity.qa/memberships?type=single">
                                <div class="membership-item-1">
                                    <div class="package d-flex align-items-center">
                                        <div class="package-img">
                                        <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/package.svg" class="img-fluid "
                                                alt="">
                                        </div>
                                        <button  class="text-capitalize bg-transparent text-white px-4 py-2">Single</button>
                                    </div>
                                </div>
                                <div class="membership-item-2 membership-text">

                                                                           Single <br> Memberships
                                   
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="membership-holder-1 bg-red">
                            <a href="https://educationcity.qa/memberships?type=family">
                                <div class="membership-item-1">
                                    <div class="package d-flex align-items-center">
                                        <div class="package-img">
                                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/package.svg" class="img-fluid "
                                                     alt="">
                                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/package.svg" class="img-fluid "
                                                     alt="">
                                        </div>
                                            <button  class="text-capitalize bg-transparent text-white px-4 py-2">Family</button>
                                    </div>
                                </div>
                                <div class="membership-item-2 membership-text">
                                                                            Family<br> Memberships
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



                        <div class="col-lg-6">
                <div class="membership-family bg-3a position-relative mt-4">
                    <div class="membership-fam-content">
                        <div class="d-flex justify-content-between">
                            <div class="pe-3">
                                <a href="https://educationcity.qa/membership-plans/womens-health-and-fitness">
                                    <div class="membership-item-1">
                                        <div class="package d-flex align-items-center">
                                            <div class="package-img">

                                                                                                        <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/package.svg" class="img-fluid "
                                                         alt="">
                                            </div>
                                            <button  class="text-capitalize bg-transparent text-white px-4 py-2">Single</button>
                                        </div>
                                    </div>
                                    <div class="membership-item-2 family-desc">
                                        <h4 class="text-white">Women&#039;s Health and Fitness</h4>






                                    </div>
                                </a>
                            </div>
                            <div class="family-img">




                                <a href="https://educationcity.qa/membership-plans/womens-health-and-fitness">
                                    <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/family-member.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            





        </div>
    </div>
</section>
            <!-- MEMBERSHIP SECTION ENDS -->

            <!-- PLACES TO VISIT SECTION STARTS -->
            <section class="bg-vector py-3 py-lg-5 position-relative">
    <div class="container-lg">
        <div class="row align-items-center justify-content-between mb-3">
            <div class="col-lg-4">
                <h2 class="mb-0 text-primary text-capitalize fs-28">places to visit</h2>
            </div>
            <div class="col-lg-4">
                <p class="happen-p">Come and explore our unique and breathtaking landmarks.</p>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row gx-4 mb-5 ">
            <div id="owl-demo-3" class="owl-carousel owl-theme demo-carosel owl-demo-3 ">
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/al-mujadilah">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/Almujadilah.png" alt="">
                            </figure>
                        </a>
                        <figcaption>

                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                    <a href="https://educationcity.qa/attractions/al-mujadilah" class="text-white">Al-Mujadilah Center and Mosque for Women</a>
                                </h6>
                            </div>
                        </figcaption>

                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/qatar-national-library">
                        <figure>
                            <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-qnl-1.jpg" alt="">
                        </figure>
                        </a>
                        <figcaption>

                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                    <a href="https://educationcity.qa/attractions/qatar-national-library"  class="text-white">Qatar National Library</a>
                                </h6>
                            </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/education-city-mosque">
                        <figure>
                           <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-ecmosque-1.jpg" alt="">
                        </figure>
                        </a>
                        <figcaption>
                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                    <a href="https://educationcity.qa/attractions/education-city-mosque"  class="text-white">Education City Mosque (Minaretein)</a>
                                </h6>
                            </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/oxygen-park">
                        <figure>
                           <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-oxygenpark-1.jpg"  class="img-fluid" alt="">
                        </figure>
                        </a>
                        <figcaption>
                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                    <a  class="text-white " href="https://educationcity.qa/attractions/oxygen-park">
                                        Oxygen Park                                    </a>
                                </h6>
                            </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/multaqa">
                        <figure>
                            <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-multaqa-1.jpg"  class="img-fluid" alt="">
                        </figure>
                        </a>
                        <figcaption>



                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                    <a href="https://educationcity.qa/attractions/multaqa" class="text-white">Multaqa</a>
                                </h6>
                            </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/mathaf">
                            <figure>
                               <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-mathaf-1.jpg" alt="">
                            </figure>
                        </a>
                        <figcaption>

                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                <a href="https://educationcity.qa/attractions/mathaf "  class="text-white" >Mathaf: Arab Museum of Modern Art</a>
                                </h6>
                            </div>
                        </figcaption>

                    </div>
                </div>

                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/al-saqab">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-alshaqab-1.jpg" alt="">
                            </figure>
                        </a>
                        <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                        <a href="https://educationcity.qa/attractions/al-saqab" class="text-white">Al Shaqab</a>
                                    </h6>
                                </div>
                        </figcaption>
                    </div>
                </div>

                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/education-city-stadium">
                            <a href="https://educationcity.qa/attractions/education-city-stadium">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-ecstadium-1.jpg" alt="">
                            </figure>
                            </a>
                            <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a href="https://educationcity.qa/attractions/education-city-stadium" class="text-white">Education City Stadium</a>
                                    </h6>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>

                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/golf-club">
                            <a href="https://educationcity.qa/attractions/golf-club">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/attraction-ecgolfclub-1.jpg" alt="">
                            </figure>
                            </a>
                            <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a href="https://educationcity.qa/attractions/golf-club" class="text-white">Education City Golf Club</a>
                                    </h6>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://educationcity.qa/attractions/vcu-gallery">
                            <a href="https://educationcity.qa/attractions/vcu-gallery">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/explore-ec/Explore3-VCU-Gallery.jpg" alt="">
                            </figure>
                            </a>
                            <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                        <a href="https://educationcity.qa/attractions/vcu-gallery" class="text-white">The Gallery at VCUarts Qatar</a>
                                    </h6>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>

                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://www.qatar.cmu.edu/">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-carnegie.jpg" alt="">
                            </figure>
                        </a>
                            <figcaption>
                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a target="_blank" href="https://www.qatar.cmu.edu/" class="text-white">Carnegie Mellon University in Qatar</a>
                                    </h6>
                                </div>
                            </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://www.qatar.georgetown.edu/">
                            <figure>
                               <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-georgetown.jpg" alt="">
                            </figure>
                        </a>
                            <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a target="_blank" href="https://www.qatar.georgetown.edu/" class="text-white">Georgetown University in Qatar</a>
                                    </h6>
                                </div>
                            </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://www.hbku.edu.qa/en">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-HBKU.jpg" alt="">
                            </figure>
                        </a>
                        <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a target="_blank" href="https://www.hbku.edu.qa/en" class="text-white">Hamad Bin Khalifa University (HBKU)</a>
                                    </h6>
                                </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://www.qatar.northwestern.edu/index.html">
                            <figure>
                               <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-northwestern.jpg" alt="">
                            </figure>
                        </a>
                        <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a target="_blank" href="https://www.qatar.northwestern.edu/index.html" class="text-white">Northwestern University in Qatar</a>
                                    </h6>
                                </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://www.qatar.tamu.edu/">
                            <figure>
                               <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-texas.jpg" alt="">
                            </figure>
                        </a>

                        <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a target="_blank" href="https://www.qatar.tamu.edu/" class="text-white">Texas A&M University at Qatar</a>
                                    </h6>
                                </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://qatar.vcu.edu/">
                            <figure>
                                <a target="_blank" href="https://qatar.vcu.edu/"><img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-VCU.jpg" alt=""></a>
                            </figure>
                            <figcaption>

                                <div class="position-absolute visit-place">
                                    <h6 class="fs-28">
                                    <a target="_blank" href="https://qatar.vcu.edu/" class="text-white">Virginia Commonwealth University School of the Arts in Qatar</a>
                                    </h6>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a target="_blank" href="https://qatar-weill.cornell.edu/">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-cornell.jpg" alt="">
                            </figure>
                        </a>
                        <figcaption>

                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                <a target="_blank" href="https://qatar-weill.cornell.edu/" class="text-white">Weill Cornell Medicine-Qatar</a>
                                </h6>
                            </div>
                        </figcaption>
                    </div>
                </div>
                <div class="item py-5">
                    <div class="owl-card position-relative visit-sec">
                        <a href="https://www.qatar.exed.hec.edu/">
                            <figure>
                                <img src="https://cdn.educationcity.qa/frontV2/assets/images/attractions/university-HEC.jpg" alt="">
                            </figure>
                        </a>
                        <figcaption>

                            <div class="position-absolute visit-place">
                                <h6 class="fs-28">
                                <a href="https://www.qatar.exed.hec.edu/" class="text-white">HEC Paris in Qatar</a>
                                </h6>
                            </div>
                        </figcaption>

                    </div>
                </div>


            </div>

        </div>


    </div>
</section>
            <!-- PLACES TO VISIT SECTION ENDS -->
      <!-- EXPLORE SECTION STARTS -->

      <section class="position-relative bg-tram">
          <div class="container-lg">
              <div class="row tram-sec">
                  <div class="col-md-12 ">
                      <div class="d-flex align-items-center">
                          <h4 class="text-capitalize text-secondary f-38">Get around education <span
                                  class="text-black"> city with ease</span></h4>
                          <p class="f-15 fw-bold text-primary mr-1 mx-5">
                              <a href="https://educationcity.qa/ec-tram"
                                 class="btn btn-secondary rounded-pill text-white login-btn  text-center py-3  text-uppercase">Explore the Education City Tram
                                 </a>
                          </p>
                      </div>
                  </div>
              </div>
              <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/train.png" class="img-fluid rail" alt="">
              <img src="https://cdn.educationcity.qa/frontV2/assets/images/home-new/railtrack.svg" class="img-fluid track" alt="">
          </div>
      </section>
      <!-- EXPLORE SECTION STARTS -->

</main>
    <div class="modal fade" id="social-share-modal" tabindex="-1" role="dialog" aria-labelledby="interestedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered page-modal" role="document">
        <div class="modal-content">
            <div class="modal-body p-4">

                <h5 class="modal-title" id="interestedModalLabel">Share</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body text-center">
                    <div class="inner inner-center" id="shareable_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}