{% extends "app.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}
<div class="container">
    <div class="tab_box">
        <button class="tab_btn">All</button>
        <button class="tab_btn">Events</button>
        <button class="tab_btn">Facilities</button>
        <button class="tab_btn">Bookings</button>
    </div>
    <div class="content_box">
        <div class="content">
            <h2>All</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corrupti, sequi, ducimus laborum velit praesentium rerum ipsam nostrum vero temporibus voluptas est. Quasi doloribus ab iste debitis at deleniti excepturi?</p>
        </div>
        <div class="content">
            <h2>Events</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corrupti, sequi, ducimus laborum velit praesentium rerum ipsam nostrum vero temporibus voluptas est. Quasi doloribus ab iste debitis at deleniti excepturi?</p>
        </div>
        <div class="content">
            <h2>Facilities</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corrupti, sequi, ducimus laborum velit praesentium rerum ipsam nostrum vero temporibus voluptas est. Quasi doloribus ab iste debitis at deleniti excepturi?</p>
        </div>
        <div class="content">
            <h2>bookings</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corrupti, sequi, ducimus laborum velit praesentium rerum ipsam nostrum vero temporibus voluptas est. Quasi doloribus ab iste debitis at deleniti excepturi?</p>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock content %}