html{
  height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.2s;
}


.middle-bar{
    margin: 5px auto;
    
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color:black;
}
.navbar{
    box-shadow: 0px 0px 10px 1px;
}
.box {
    border: 1px solid #ccc;
    padding: 0px;
    margin:0px ;
    text-align: center;
    align-items: center;
    position: relative  ;
    justify-content: center;
    display: flex;
    color: white;
    padding:40px;
    border-radius: 40px;
    font-size: 20px ;
    font-weight: 400;
    transition: 0.3s;
    width: 100%;
    text-decoration: none;
  }
 #box1{
    background-color: rgb(243, 39, 53);
    box-shadow: rgb(252, 193, 196) 0px 10px 0px 0px;
 }
 #box2{
    background-color: rgb(16, 207, 201);
    box-shadow:rgb(188, 235, 234) 0px 10px 0px 0px;
 }
 #box3{
    background-color: rgb(255, 164, 1);
    box-shadow: rgb(254, 229, 182) 0px 10px 0px 0px;
 }
 .box:hover{
    transform: scale(1.05);
 }
 a{

    text-decoration: none !important;
    
 }
 ul{
    list-style-type:none;
 }
 .event_box{
    position: relative;
    display:flex;
 }
 .footer{
        padding-top: 1em !important;
        padding-bottom: 0 !important;
        padding-inline: 0 !important;
        position: relative;
        bottom:0;
        top: 100px;
        width: 100%;
        max-height: auto;
        text-align: center;
        background-image:linear-gradient(to right,rgba(219, 204, 204, 0.295),rgba(221, 206, 206, 0.233)), url(footer-img.png);
        background-size:cover ;
        line-height: 30px;    
        font-size: 16px;   
        margin-top: auto;       
 }
 .happens-p{
    border-left: 1px solid rgb(255, 164, 1);
    padding-left:10px;
 }

  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    height: 100%;
    border-radius: 40px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    top: 60%;
    transform: translateY(-50%);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  @media (min-width: 576px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 calc(100%/3);
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    .carousel-inner {
      padding: 1em;
    }
}
  
.card img{
  border-radius: 40px 40px 70px 0px;

}

.mem-box {
  border: 1px solid #ccc;
  padding: 0px;
  margin:0px ;
  text-align: start;
  align-items:last baseline;
  position: relative  ;
  justify-content:start;
  display: flex;
  color: white;
  padding:40px;
  border-radius: 40px;
  font-size:110%;
  font-weight: 600;
  transition: 0.3s;
  width: 100%;
  text-decoration: none;
}
#memb1{
  background-color:rgb(17, 31, 72);
  height:30vh;
  position: relative;
  
}
#memb2{
  background-color:rgb(243, 39, 53);
  height: 30vh;
  position: relative;
  
  
}
#memb3{
  background-color:rgb(170, 170, 170);
  height: 40vh;
  position: relative;
  margin-bottom: 10%;
  
}
.mem-container{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.img-thumb{
  width: 100%;
  height: 70vh;
  border-radius: 50px;
  
}
.nav-anc:hover{
   transform: scale(1.1);
}
.nav-anc{
  transition: 0.6s !important;
}

.tab-btn{
  border: 1px solid rgb(17, 31, 72);
}
.tab-btn:hover{
  color: White;
  background-color:rgb(17, 31, 72) ;
}
.content-div label{
  font-size: 16px;
  font-weight: bold;
  color: rgb(17, 31, 72);
}
.form-check-label{
  font-size: 16px;
  font-weight:none !important;
}
.card-cont {
  align-items: center;
  justify-content:center ;
  display: flex;
  
}
.about-cover{
  
  height:350px;
  width:100%;
}
.about-img img{
  height: 350px;
  width: 100%;
  border-radius: 5%;
  box-shadow:2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.about-flip img{
  height: 350px;
  width: 100%;
  border-radius:5% ;
}
.flip-container{
  position: relative;
}
.img-container{
  position: relative;
 
}
.img-container img{
  display: block;

 
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:350px;
  background-color:#fff;
  opacity: 0;
  transition: opacity 0.5s;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  box-shadow:2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  overflow: hidden;

}
.img-container:hover .overlay{
  opacity: 1;
}

.img-container:hover p{
  opacity: 1;

}
.overlay p,button{
margin: 20px 20px 0 20px;
}
.overlay p{
  max-height: 60%;
  overflow: hidden;
}
.register-form label{
  font-weight: bold;
  color: rgb(148, 148, 148);
  margin-bottom:10px ;
}
.register-form input,select{
  margin-bottom:15px;
}
.login-form label{
  font-weight: bold;
  color: rgb(148, 148, 148);
  margin-bottom:10px ;
}
.login-form input{
  margin-bottom:15px;
}

.banner-video{
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 50px;
  position: relative;
}
.banner-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: start;
  z-index: 1;
  font-weight: 600;
}
.book-btn{
  display: none;
}

.offer:hover .book-btn{
  display:block;
  transform: scale(1);
  transition: 0.6s;
}
