
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'admin/adminbase.html' %}
    {% block content %}
    <div class="wrapper">
    <form method="post" action="{% url 'adding_activity' %}" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form.as_p }}
         <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
   {% endblock %}
</body>
</html>