{% extends 'admin/adminbase.html' %}
   
    {% block content %}
    <div class="wrapper">
        <h3 class="text-center">Class</h3>
    <form method="post" action="{% url 'add_class' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <script>
            $(document).ready(function() {
                $('#id_start_date').datepicker({ dateFormat: 'yy-mm-dd' });
                $('#id_end_date').datepicker({ dateFormat: 'yy-mm-dd' });
             /*   $('#id_start_time').timepicker({ dateFormat: 'hh:mm:ss'});
                $('#id_end_time').timepicker({ dateFormat: 'hh:mm:ss'});*/
            });
        </script>
        <button type="submit">submit</button>
     </form>
    </div>
   {% endblock %}